<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Load Customer Status To Field In Ui Component-->
    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="load_customer_status" type="Zaproo\TestWork\Plugin\Customer\Adminhtml\DataProvider\LoadCustomerStatus"/>
    </type>
</config>
